<% @catalog = site.motorcycle_lists.first %>
<% @bargain = site.motorcycle_lists.named("bargain") %>
  <div class="carousel slide" id="home-carousel">
    <!-- Carousel indicator --> 
    <ol class="carousel-indicators">
      <% resource.images.each_with_index do |img, index| %>
        <li data-target="#home-carousel" data-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
      <% end %>
    </ol>
    <div class="carousel-inner">
    <% resource.images.each_with_index do |img, index| %>
      <div class="item <%= 'active' if index == 0 %>" style="background-image: url(<%= img.url %>);">
        <%#= image_fu(img, "1400x800#", :rel => "external") %> 
        <div class="container">
          <div class="carousel-caption">
            <h1>MotoRacing</h1>
            <hr>
            <p class="lead">Spécialistes du 2 roues et quads à St-Barth</p>
          </div>
        </div>
      </div>
    <% end %>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#home-carousel" data-slide="prev"><icon class="icon-angle-left"></i></a>
    <a class="carousel-control right" href="#home-carousel" data-slide="next"><icon class="icon-angle-right"></i></a>
  </div>
<section class="section-title">
  <div class="container"> 
    <div class="row">
      <div class="col-xs-12">
        <h1>Nos Véhicules Neufs</h1>
      </div>
    </div> 
  </div>
</section>
<div class="container section-content"> 
  <div class="row">
    <div class="col-sm-3 text-center">
      <div class="iconic iconic-scooter"></div>
      <h3>Scooters</h3>
      <p>Motoracing a sélectionné une gamme de scooters adaptés aux particularités de Saint-Barth. Nous connaissons ces scooters, nous apportons les réglages spécifiques nécessaires en raison de la qualité des routes et du relief.</p>
      <a class="btn btn-link" href="<%= @catalog.public_url %>?search%5Bwith_engine_type%5D=scooter"><i class="icon-search"></i> Trouver un scooter</a>
    </div> 
    
    <div class="col-sm-3">
      <div class="iconic iconic-moto"></div>
      <h3>Motos</h3>
      <p>Amis motards, Motoracing propose une sélection de motos trail, enduro, supermotard ou roadster. Motoracing propose à la vente en neuf les motos de marque Derbi, SYM et Kymco en 50 cm3 et 125 cm3. N’hésitez pas à nous interroger pour toute autre marque.</p>
      <a class="btn btn-link" href="<%= @catalog.public_url %>?search%5Bwith_engine_type%5D=moto"><i class="icon-search"></i> Trouver une moto</a>
    </div>
    <div class="col-sm-3 text-center">
     <div class="iconic iconic-quad"></div>
      <h3>Quads</h3>
      <p>Que ce soit pour le plaisir de la conduite, pour leur aspect pratique ou pour le sentiment de stabilité, les utilisateurs de Quads sont de plus en plus nombreux. Motoracing vous propose une large gamme de Quads de 50 à 550 cm3.</p>
      <a class="btn btn-link" href="<%= @catalog.public_url %>?search%5Bwith_engine_type%5D=quad"><i class="icon-search"></i> Trouver un quad</a>
    </div>
    <div class="col-sm-3 text-center">
     <div class="iconic iconic-ssv"></div>
      <h3>SSV</h3>
      <p>Le SSV pour Side by Side Vehicle est un véhicule hybride à mi chemin entre le Quad et le Buggy ; passager assis à coté du conducteur, arceaux de sécurité et benne. C’est un véhicule bien pratique à St Barth à la fois loisir et utilitaire</p>
      <a class="btn btn-link" href="<%= @catalog.public_url %>?search%5Bwith_engine_type%5D=ssv"><i class="icon-search"></i> Trouver un ssv</a>
    </div>
  </div>
</div>
<section class="section-title">
  <div class="container"> 
    <div class="row">
      <div class="col-xs-12">
        <h1>Nos Services</h1>
      </div>
    </div> 
  </div>
</section>
<div class="container section-content"> 
  <div class="row">
    <div class="col-sm-3">
      <figure>
        <i class="icon-money icon-128"></i>
      </figure>
      <h3>Vente neuf et occasion</h3>
      <p><%= raw "Motoracing propose une #{link_to('sélection de scooters, quads, motos et SSV', @catalog.public_url)} adaptés aux routes de Saint-Barth pour tous les budgets, disponibles immédiatement ou sur commande.<br/>
        Pour #{link_to('les occasions', @bargain.public_url)} consultez régulièrement notre site ou rendez-nous visite à la boutique." %></p>
    </div> 
    <div class="col-sm-3"> 
      <figure>
        <i class="icon-ambulance icon-128"></i>
      </figure>
      <h3>Dépannage</h3>
      <p>Vous êtes en panne ?<br/>Appelez le 0590&nbsp;29&nbsp;86&nbsp;30.<br/>Motoracing assure un service de dépannage et de remorquage de votre scooter, moto ou quad jusqu’à l’atelier pour une réparation dans les règles de l’art.</p>
    </div>
    <div class="col-sm-3"> 
      <figure>
        <i class="icon-wrench icon-128"></i>
      </figure>
      <h3>Atelier de réparation</h3>
      <p>Dans notre atelier équipé de 3 bancs, nous assurons le service après-vente et la réparation de tous les deux roues et quads toutes marques, avec des pièces d’origine constructeur.</p>
    </div>
    <div class="col-sm-3">
      <figure>
        <i class="icon-gift icon-128"></i>
      </figure>
      <h3>Boutique</h3>
      <p>Dans la boutique Motoracing, vous trouverez un grand choix de casques sport ou fashion, jet, intégral ou modulaires, des accessoires pour vous ou votre 2 roues, des pièces détachées d'origine et de nombreux accessoires.</p>
    </div>
  </div>
</div>
<section class="section-title">
  <div class="container"> 
    <div class="row">
      <div class="col-xs-12">
        <h1>L'équipe</h1> 
      </div>
    </div> 
  </div>
</section>
<div class="container section-content"> 
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <figure>
        <i class="icon-user icon-128"></i>
      </figure>
      <h3>Thierry</h3>
      <p>Atelier-boutique</p>
    </div> 
    <div class="col-xs-12 col-sm-4"> 
      <figure>
        <i class="icon-user icon-128"></i>
      </figure>
      <h3>Jérôme</h3>
      <p>Atelier</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <figure>
        <i class="icon-user icon-128"></i>
      </figure>
      <h3>Marie-Pierre</h3>
      <p>Administratif</p>
    </div>
  </div>
</div> 
<section class="section-title">
  <div class="container"> 
    <div class="row">
      <div class="col-xs-12">
        <h1>Les Marques</h1> 
      </div>
    </div> 
  </div>
</section>
<div class="container section-content section-brands"> 
  <div class="row">
    <% ["Quadro","Kymco","Ktm","Derbi","Sym"].each do |brand| %>
    <div class="col-xs-6 col-sm-3 col-md-2 col-offset-md-2">
      <div class="thumbnail">
        <%= image_tag("#{brand}.png", :alt => brand, :class => "img-responsive") %>
      </div>
    </div>
    <% end %>
  </div>
</div>


