<%# resource_cache(resource) do %> 
<article class="container single-product"> 
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <%= render_slideshow_for(resource) %> 
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= page_title(resource.title) %>
      <%= raw "<p><strong>Référence:</strong> #{resource.brand.name}</p>" if resource.brand %> 
      <%= raw "<p><strong>Cylindrée:</strong> #{resource.cylinder} cm3</p>" if resource.cylinder %>
      <%= raw "<p><strong>Référence:</strong> #{resource.name}</p>" if resource.name %> 
      <%= raw "<p><strong>Prix:</strong> #{indivisible_number_to_currency(resource.price)}</p>" if resource.mileage %>
      <%= render_copy_text(resource.body) %> 
      <% if resource.first_hand %>
        <%= raw "<p><strong><em>Sur Commande</em></strong></p>" if !resource.in_stock %>
        <% if resource.colors.any? %>
          <%= raw "<p><strong>Ce produit existe dans les couleurs suivantes : </strong></p>" %>
          <% resource.colors.each do |color| %>
            <%= raw "<p style='background-color:#{color.hex.to_s}; width: 100%; min-height: 20px'>&nbsp;</p>" %>
          <% end %>
        <% end %>
      <% else %>
        <%= raw "<p><strong>Occasion</strong></p>" %> 
        <%= raw "<p><strong>Année de mise en circulation:</strong> #{resource.circulation_year}</p>" if resource.circulation_year %>
        <%= raw "<p><strong>Kilométrage:</strong> #{resource.mileage} km</p>" if resource.mileage %>
      <% end %>
      
    </div> 
  </div>
</article>
<%# end %>

